.fruit-card-div{
    position: absolute;
}


.inner-card-div{
    border: solid black;
    background-color: burlywood;
    position: relative;
    display: flex;
    height: 20rem;
    width: 20rem;

}

.nutrients-header-div{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 10vw;
    height: 30vh;
}

.calories, .fat, .sugar, .carbo, .protein{
    display: flex;
    justify-content: center;
    gap: 1em;
    font-weight: bold;
}


.dataname{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.familyname, .nutrients{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}


.closebutton{
   cursor: pointer;
   height: 20px;
   width: 20px;
   text-align: center;
   font-size: 2em;
   background-color: transparent;
   border: none;
}

.closebutton-div{
    border: solid black;
    position: relative;
}

