.fruit-card-div{
    position: absolute;
}


.inner-card-div{
    
    background-color: green;
    position: relative;
    display: flex;
    justify-content: center;
    height: 20rem;
    width: 20rem;
    color: white;

}

.fruit-header{
    border: solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20rem;
}


.dataname-div, .familyname-div{
    text-align: center;
}

.nutrients-header-div{
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20rem;
    height: 30vh;
}

.calories, .fat, .sugar, .carbo, .protein{
    
    display: flex;
    justify-content: center;
    gap: 1em;
    font-weight: bold;
    width: 100%;
}

.calorie-label, .fat-label, .sugar-label, .carbohydrate-label, .protein-label{
    
    width: 50%;
    margin-left: 2rem;
}

.calorie-data-div, .fat-data-div, .sugar-data-div, .carbohydrate-data-div, .protein-data-div{
    width: 50%;
    text-align: center;
}


.dataname{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.familyname, .nutrients{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}






