.about-div{
    display: flex;
}

.howmuchfruitimg, .whyimpimg{
    width: 100px;
    height: 100px;
}

.AboutContainerDark{
    background-color: #000;
    color: white;
}

.AboutContainerlight{
    background-color: rgb(253, 251, 251);
}

.second-part{
    display: flex;
    justify-content: space-around;
}

.third-part{
    display: flex;
    justify-content: space-around;
}

.second-part, .third-part{
    margin-top: 3rem;
}

.howmuchpara{
    cursor: pointer;
    text-decoration: underline;
}


@media screen  and (max-width:880px){
    .video-element{
        display: none;
    }

}