.menu-list li{
    
    list-style-type: none;
    display: inline;
    margin-right: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;

}


.menu-list{
    display: flex;
    justify-content: center;
    gap: 3rem;
    /* text-decoration: underline;
    font-weight: bold;*/
}




.menu-div{
    border-top: solid black;
    border-bottom:  solid black;
    background-color: green;
    width: 100%;
    display: flex;
    justify-content: space-between;

}








