.aboutimp-image-div{
    /* position: relative; */
    display: flex;
    justify-content: flex-end;
}

.aboutimp-header-div{
    position: absolute;
    z-index: 1;
    width: 50%;
    background-color: white;
    left: 0;
    top: 10em;
}

.aboutimportantsection-div, .aboutimportantsection-div-dark{
    position: relative;
    display: flex;
    justify-content: flex-end;
    top: 5rem;
}

.aboutimportantsection-div-dark{

    background-color: black;
    color: black;
}

