.icon-image{
    height: 100px;
    width: 100px;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.heading-div{
    width: 25%;
}



.kyf-icon{
    width: 50px;
    height: 50px;
}

.about-icon{
    width: 20px;
    height: 20px;
}

