.icon-image{
    height: 100px;
    width: 100px;
}
.header-nav{
    border: solid black;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    
}

.menu-list li{
    list-style: none;
    display: inline;
    margin-right: 15px;
}

.menu-list li:hover{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.kyf-icon{
    width: 50px;
    height: 50px;
}

.about-icon{
    width: 20px;
    height: 20px;
}

.heading-div{
    border: solid blue;
}