.contact-container{
    display: flex;
    justify-content: flex-end;

}

.sent-icon{
    width: 50px;
    height: 50px;
}

.contact{
    background-color:white;
}

.contact-dark{
    background-color: black;
    color: white;
}

.messagesent{
    display:block;
    text-align: center;
    font-size: 25px;
    color: green;
}

.hiddenmessage{
    display:none;
    text-align: center;
    font-size: 25px;
}

.form-div{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    width: 50rem;
    padding-top: 5em;
}

.namelabel, .emaillabel, .messagelabel{
    font-size: 22px;
    text-align: left;
}

.mail-icon{
    width: 50%;
    margin-top: 5rem;
}

.name, .email{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    gap:5rem;
}

.message{
    display: flex;
    justify-content: space-evenly;
}

.submitbtn{
    background-image: linear-gradient(to right,#bb99ff,#66e0ff);
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    height: 30px;
}

input, textarea{
    border-radius: 10px;
    height: 2rem;
}

textarea{
    height: 5rem;
    width:15rem;
}

@media screen  and (max-width:880px){
    .mail-icon{
        display: none;
    }

    .form-div{
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 4rem;
        width: 30rem;
        padding-top: 5em;
    }

}