.fruitdisplaycard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    z-index: -2;
    
}

.fruit-display-div{
    margin: 20px;
    border: 2px dotted #ededed;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.fruit-image{
    width: 175px;
    height: 150px;
}

.pickme{
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 0;
    right: 0;
}

.blink{
    animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
    0%{
        opacity: 0;
    }
    
    100%{
        opacity: 1;
    }
    
}

.search-div{
    /* border: solid black; */
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    gap: 1em;
    /* background-color: green; */
}

.searchlabel{
    font-size: 20px;
}

.searchtext{
    font-size: 20px;
}

