.fruitdisplaycard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
    z-index: -2;
    
}

.fruit-display-div{
    margin: 20px;
    border: 2px dotted #ededed;
    padding: 20px;
    cursor: pointer;
    position: relative;
}

.fruit-image{
    width: 175px;
    height: 150px;
}

.FruitDisplayDark{
    background-color: black;
    color: white;
}

.FruitDisplayLight{
    background-color: white;
    color: black;
}



