.footer-div{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5em;
    height: 50vh;
    width: 100vw;
    background-size: cover;
    background-image: url("https://tenzotea.co/cdn/shop/files/ft_bg.png?v=1636552563");
}

.facebookicon, .twittericon, .instagramicon, .pinteresticon, .youtubeicon{
    height: 30px;
    width: 30px;
}

.connectdiv{
    display: flex;
    justify-content: space-evenly;
}

.footer-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 25px;
    margin-top: 4rem;
}

