.search-div{
    /* border: solid black; */
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    gap: 1em;
    /* background-color: green; */
}

.searchlabel{
    font-size: 20px;
}

.searchtext{
    font-size: 20px;
}