.howmuchfruituneed, .howmuchfruituneeddark{
    display: flex;
    margin-top: 10rem;
    position: relative;
    
}

.howmuchfruituneed{
    background-color: white;
    color: black;
}



.howmuchfruituneed-sidediv, .howmuchfruituneed-sidediv-dark{
    position: relative;
    display: flex;
    width: 50%;
    top: 50px;
}
.howmuchfruituneed-sidediv{
    background-color: white;
}

.howmuchfruituneed-sidediv-dark{
    background-color: black;
    color: white;
}

@media screen  and (max-width:880px){
    .girlbitingimg{
        display: none;
    }

}


.howmuchfruituneeddark{
    background-color: black;
    color: white;
}

.fruitneedlist{
    text-align: left;
}

